---
import { AppHeader } from "@components/appHeader/AppHeader";
import "@styles/global.css";
const alliances = [
  {
    name: "selene",
    name_cn: "赛琳娜之耀",
    name_en: "THE GLORY OF SELENE",
    path: '/alliance/selene'
  },
  {
    name: "empire",
    name_cn: "沙顿穆恩帝国",
    name_en: "SHATON MOUN EMPIRE",
    path: '/alliance/empire'
  },
  {
    name: "cpgu",
    name_cn: "一体汉和",
    name_en: "CPGU",
    path: '/alliance/cpgu'
  },
  {
    name: "moutainpass",
    name_cn: "芒廷帕斯联合会",
    name_en: "MOUTAINPASS FEDERATION",
    path: '/alliance/moutainpass'
  },
  {
    name: "federation",
    name_cn: "圣瞳会",
    name_en: "FEDERATION",
    path: '/alliance/federation'
  },
];
---

<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>偌星 ｜ Starlike</title>
  </head>
  <body>
    <div class="w-full h-full relative">
      <div id="hy-alliance" class="w-full h-full relative">
        <div class="hy-alliance-container w-full h-full relative px-8 grid grid-cols-5 gap-7">
          {
            alliances.map((alliance) => {
              return (
                <a href={alliance.path} class="hy-alliance-item relative inline-block w-full h-full text-white shadow-[0_0_0_#fff] group cursor-pointer">
                  <div
                    class={`w-full h-full bg-no-repeat bg-cover bg-bottom`}
                    style={{
                      backgroundImage: `url(/images/alliance/${alliance.name}_bg.webp)`,
                    }}
                  />
                  <div
                    class={`absolute top-0 left-0 right-0 bottom-0 bg-no-repeat bg-cover bg-bottom opacity-0 group-hover:opacity-100 transition-all ease-out duration-300`}
                    style={{
                      backgroundImage: `url(/images/alliance/${alliance.name}_bg_active.webp)`,
                    }}
                  />
                  <div class="hy-info flex flex-col items-center text-center w-full absolute left-0 right-0 bottom-0">
                    <img
                      src={`/images/alliance/${alliance.name}_icon.png`}
                      alt=""
                      class="h-[120px] mb-3"
                    />
                    <div class="hy-name">
                      <div class="hy-name_cn h-8 leading-8">{alliance.name_cn}</div>
                      <div class="hy-name_en h-8 leading-8">{alliance.name_en}</div>
                    </div>
                    <div class="hy-more h-[72px]"></div>
                  </div>
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
    <AppHeader client:idle />
  </body>
</html>
